@define-color nautilus_cluebar_color #99F578;

/****************
 * Applications *
 ****************/
ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
    background-color: @chrome_bg_color;
    -EogScrollView-shadow-type: none;
}

/* gnome-terminal */
TerminalScreen {
    background-color: @theme_base_color;
    color: @theme_fg_color;
    -TerminalScreen-background-darkness: 0.95;
}

/* nautilus */
.nautilus-canvas-item {
    border-radius: 5;
    font: bold;
    text-shadow: 0 1 #000000;
}
/* icons on the desktop */
.nautilus-desktop,
.nautilus-desktop.nautilus-canvas-item {
    color: #ffffff;
    font: bold;
    text-shadow: 0 1 #000000;
}

/* icons on the desktop */
.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: 0 1 #ffffff;
    font: bold;
    color: #000000;
    background-color: alpha (@theme_selected_fg_color, 0.5);
}

NautilusTrashBar.info,
NautilusXContentBar.info,
NautilusSearchBar.info,
NautilusQueryEditor.info {
    background-color: @nautilus_cluebar_color;
    border-image: url("darkelements/border-passive.png") 2 stretch;
    border-width: 2;
}

NautilusSearchBar .entry {
    border-image: none;
    border-color: @nautilus_cluebar_color;

    -GtkEntry-inner-border: 3;
}

NautilusSearchBar .entry.image {
    color: @nautilus_cluebar_color;
}

.nautilus-cluebar-label {
    font: bold;
    color: @theme_base_color;
    border-image: url("darkelements/border-passive.png") 2 stretch;
    border-width: 2;
}

#nautilus-search-button *:active,
#nautilus-search-button *:active:prelight {
    color: darker (@nautilus_cluebar_color);
}

NautilusFloatingBar {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@notebook_tab_gradient_a, 0.97)),
                                     to (shade (@notebook_tab_gradient_b, 0.90)));

    border-color: shade (@notebook_tab_gradient_b, 0.80);

    border-radius: 3 3 0 0;
    border-width: 1;
    border-style: solid;
}

NautilusFloatingBar .button {
    background-image: url("darkelements/button-normal.png");
    border-image: url("darkelements/button-normal-border.png") 2 stretch stretch;
    color: @theme_text_color;

    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;
}

NautilusWindow .sidebar .frame {
    border-image: url("darkelements/border-passive.png") 2 stretch;
    border-width: 2;
    border-radius: 0;
            
}

NautilusWindow > GtkTable > .pane-separator {
    border-image: url("darkelements/border-passive.png") 2 stretch;
    border-width: 2;
}